[submodule "dispatcher"]
	path = dispatcher
	url = git@github.com:AdaptiveComputationLab/dispatcher.git
	branch = master
[submodule "cuckoo"]
	path = cuckoo
	url = git@github.com:pwnslinger/cuckoo.git
	branch = wip/patch_aux
[submodule "detox"]
	path = detox
	url = git@github.com:pwnslinger/detection_engine.git
	branch = master
[submodule "vmcloak"]
	path = vmcloak
	url = git@gitlab.eecs.umich.edu:kjleach/vmcloak.git
	branch = dev/vmware
